<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    @if (!String.IsNullOrEmpty(ViewBag.MetaDescription))
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }
    @if (!String.IsNullOrEmpty(ViewBag.MetaKeywords))
    {
        <meta name="keywords" content="@ViewBag.MetaKeywords" />
    }
    @if (!String.IsNullOrEmpty(ViewBag.MetaRobot))
    {
        <meta name="robots" content="@ViewBag.MetaRobot" />
    }

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/main.css" />

    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/plugins/dynamicsjs/dynamics.min.js"></script>

    @RenderSection("scripts", required: false)
</head>
	<body>

        <!-- Header -->
        @await Html.PartialAsync("_LoginPartial")

		<!-- Content -->
		@RenderBody()

	</body>
</html>