<!DOCTYPE HTML>
<html>
	<head>
		<title>@ViewBag.Title</title>
		<meta charset="utf-8" />

		@if(!String.IsNullOrEmpty(ViewBag.MetaDescription))
        {
            <meta name="description" content="@ViewBag.MetaDescription" />
        }
		@if(!String.IsNullOrEmpty(ViewBag.MetaKeywords))
        {
		    <meta name="keywords" content="@ViewBag.MetaKeywords" />
        }
		@if(!String.IsNullOrEmpty(ViewBag.MetaRobot))
		{
		    <meta name="robots" content="@ViewBag.MetaRobot" />
		}
		
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="~/css/main.css" />
		<link rel="stylesheet" href="~/css/sidebar.css" />
		<link rel="stylesheet" href="~/css/ionicons.min.css" />
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/vs2015.min.css">

		<!-- Scripts -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.scrollex.min.js"></script>
		<script src="/js/plugins/dynamicsjs/dynamics.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/util.js"></script>
		<script src="/js/main.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
		
		@RenderSection("scripts", required: false)
	</head>
	<body>

        <!-- Header -->
        <header id="header" class="alt">
            <!--<div class="logo"><a asp-controller="home" asp-action="index">Hielo <span>by TEMPLATED</span></a></div>-->
            <!--<a href="#menu">Menu</a>-->
			@await Html.PartialAsync("_LoginPartial")
        </header>

		

        <!-- Banner -->
        <section class="banner full">
            <article>
                <img src="~/images/slide01.jpg" alt="" />
                <div class="inner">
                    <header>
                        <p><a href="~/">AN OPEN, FREE AND CROSS-PLATFORM CMS</a></p>
                        <h2>Kastra</h2>
                        <div><a class="button" href="~/page/documentation">Get started</a></div>
                    </header>
                </div>
            </article>
            <article>
                <img src="~/images/slide05.jpg"  alt="" />
                <div class="inner">
                    <header>
                        <p>EXTEND YOUR WEBSITE BY DEVELOPPING YOUR OWN MODULES</p>
                        <h2>Kastra</h2>
                        <div><a class="button" href="~/page/documentation">Get started</a></div>
                    </header>
                </div>
            </article>
        </section>
		

		<div>
			@RenderSection("KastraMessage", false)
		</div>



		<!-- Wrapper -->
        @RenderBody()

		<!-- Footer -->
        <footer id="footer">
            <div class="copyright">
                &copy; 2017 - 2018 Kastra. All rights reserved.
            </div>
            <div class="copyright">
                Theme Hielo by <a href="https://templated.co/"><span>TEMPLATED</span></a>
            </div>
        </footer>
	</body>
</html>