@{
    var themeName = ViewBag.Theme;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    @if (!String.IsNullOrEmpty(ViewBag.MetaDescription))
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }
    @if (!String.IsNullOrEmpty(ViewBag.MetaKeywords))
    {
        <meta name="keywords" content="@ViewBag.MetaKeywords" />
    }
    @if (!String.IsNullOrEmpty(ViewBag.MetaRobot))
    {
        <meta name="robots" content="@ViewBag.MetaRobot" />
    }

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="@Url.Content($"~/themes/{themeName}/css/reset.css")" />
    <link rel="stylesheet" href="@Url.Content($"~/themes/{themeName}/css/main.css")" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/plugins/dynamicsjs/dynamics.min.js"></script>

    @RenderSection("scripts", required: false)
</head>
	<body>

        <!-- Header -->
        @await Html.PartialAsync("_LoginPartial")

		<!-- Content -->
		@RenderBody()
        @await Html.PartialAsync("_CookieConsentPartial")
	</body>
</html>